[build]
  functions = "netlify/functions"
  publish = "."

[dev]
  functions = "netlify/functions"
  publish = "."
  
[functions]
  node_bundler = "esbuild"
  external_node_modules = ["pg-native"]
  included_files = ["netlify/functions/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

# Remove the /* to index.html catch-all to allow separate HTML pages to load

[[plugins]]
package = "@netlify/plugin-functions-install-core" 